@model AutoskolaWeb.Models.QuestionFilterModels

<form action="@Url.Action("AdvancedSearch")" method="post" class="quiz-filter-form form-horizontal" role="form">
    <div class="form-group">
        @Html.TextBoxFor(p => p.QuestionText, new { @class = "form-control", placeholder = "Search" })
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button type="button" class="btn btn-default submit-button">Search</button>
        </div>
    </div>

</form>