@model AutoskolaWeb.Model.Question
@{
    ViewBag.Title = "Add image for question";
}

<h2>Add image for question</h2>


    <text>
        @Html.Partial("_AddImage")
        @Html.HiddenFor(p => p.ID)
    </text>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>


