@model AutoskolaWeb.Model.Question

@{
    ViewBag.Title = "New question";
}

<h2>New question</h2>

@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
