@model AutoskolaWeb.Model.Answer

@{
    ViewBag.Title = "New answer";
}

<h2>New answer</h2>

@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
