@model AutoskolaWeb.Model.Quiz
@{
    ViewBag.Title = "Dodaj pitanje";
}

<h2>Dodaj pitanje</h2>

@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_AddQuestion")
        @Html.HiddenFor(p => p.ID)
    </text>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>